img{
  max-width: 100%;
}
#header_area{
  padding: 15px 0;
}
#header_area .col-sm-3 img{
  width: 60%;
}

/* Menu area */
#header_area {
  padding: 15px 0;
}
#header_area .col-sm-6 ul {
  font-family: "Oswald", sans-serif;
  margin: 10px 0 0;
  padding: 0;
  list-style: none;
  text-align: left;
}
#header_area .col-sm-6 ul li {
  display: inline-block;
  position: relative;
}
#header_area .col-sm-6 ul li a {
  color: blue;
  padding: 10px 10px;
  display: block;
  text-decoration: none;
}
#header_area .col-sm-6 ul li a:hover {
  background: black;
  color: #fff;
}

/* Dropdown Menu */
#header_area .col-sm-6 ul li ul {
  background: #262626 none repeat scroll 0 0;
  left: -99999px;
  margin: 0;
  position: absolute;
  text-align: left;
  top: 40px;
  width: 150px;
}
#header_area .col-sm-6 ul li:hover ul {
  left: 0px;
}
#header_area .col-sm-6 ul li ul li {
  display: block;
}
#header_area .col-sm-6 ul li ul li a {
  color: #fff;
  padding: 8px 10px;
}
#header_area .col-sm-6 li ul li a:hover {
  color: black;
  background: #ea1a70;
}




/* Footer Area */
#footer_area{
  background-color: cyan;
}

/*  
 #coppyright_area .col-sm-6 a{
  text-decoration: none;
}
#coppyright_area .col-sm-6 p{
  text-align: right;
} */

#footer_area img {
  max-width: 50%;
  padding: 10px 0;
  
}
#footer_area ul{
  margin: 0;
  padding: 10px 0;
}
#footer_area ul li{
  list-style: none;
}
#footer_area ul li a{
  text-decoration: none;
  color: #262626;
}
#footer_area .col-sm-3 h2{
  font-size: 30px;
  padding: 10px 0;
}
#footer_area .col-sm-3 p{
  font-size: 15px;
  color: #262616;
}
#footer_area .coppyright_area .col-sm-6 a {
  text-decoration: none;
  color: #262616;
}
#footer_area .coppyright_area .col-sm-6 p {
  text-align: right;
}
.coppyright_area{
  padding: 20px 0;
} 

/* Home Page Area */
#hero_area{
  margin-top: 50px;
}
#hero_area .col-sm-5 h2{
  margin-top: 50px;
  font-size: 40px;
  font-weight: bold;
  color: #342C5C;
}
#hero_area .col-sm-5 h2 span{
  color: #9282FD;
}
#hero_area .col-sm-5 p{
  color: #AFADBF;
}
#hero_area .col-sm-7 img{
  width: 85%;
}


/* section_area */
#section_area{
  margin-top: 50px;
}
#section_area .col-sm-4 .box{
  display: flex;
}
.box .sub_box{
  margin:0 10px ;
}
.box .sub_box img{
  width: 100px;
  border-radius: 20px;
}
.box .sub_box h2{
  font-size: 30px;
  font-weight: bold;
  color: #342C5C;
  padding: 10px 0;
}
.box .sub_box p{
color: #AFADBF;
}

/* section_area2 */
#section_area2{
  margin-top: 100px;
}
.box_area{
  margin: 0 20px;
}
#section_area2 .col-sm-5 h2{
  font-size: 40px;
  font-weight: bold;
  color: #342C5C;
}
#section_area2 .col-sm-5 p{
  color: #AFADBF;
}
#section_area2 .col-sm-5 .main_sub_box{
  display: flex;
  margin: 20px 0;
  border-radius: 10px;
}
.box_area .sub_box_area{
  margin: 10px;
}
#section_area2 .col-sm-7 img{
  width: 85%;
}
.main_sub_box{
  background: #fff;
  box-shadow: 1px 1px 5px #ddd;
  width: 400px;
  height: auto;
}
.sub_box_area img{
  width: 58px;
  padding: 10px 0;
}
.sub_box_area h4{
  font-size: 20px;
  font-weight: bold;
  color: #342C5C;
}
.sub_box_area p{
  color: #AFADBF;
}

/* section_area3 */
#section_area3{
  margin-top: 100px;
}
#section_area3 .col-sm-6 img{
  width: 100%;
  margin-left: -80px;
}
#section_area3 .col-sm-6 h3{
  font-size: 40px;
  font-weight: bold;
  color: #342C5C;
}
#section_area3 .col-sm-6 p{
  color: #AFADBF;
}

/* section_area5 */
#section_area5{
  margin-top: 100px;
}
#section_area5 .col-sm-4 h2{
  margin-top: 50px;
  font-size: 40px;
  font-weight: bold;
  color: #342C5C;
}
#section_area5 .col-sm-4 p{
  color: #AFADBF;
}
#section_area5 .col-sm-6 img{
  width: 80%;
}