
/* ==========================================================================
   Medium Layout: 1280px.
   ========================================================================== */
   @media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
    
    
    
    
    
    
    
    
   }
   /* ==========================================================================
      Tablet Layout: 768px. 
      ========================================================================== */
   @media only screen and (min-width: 768px) and (max-width: 991px) { 
    
       
       
       
       
       
       
       
       
       
    
       
       
   }
   /* ==========================================================================
      Wide Mobile Layout: 480px.
      ========================================================================== */
   @media only screen and (min-width: 480px) and (max-width: 767px) { 
   
       
       
       
       
       
       
       
       
   }
   
   
   
   /* ==========================================================================
      Mobile Layout: 320px.
      ========================================================================== */
   @media only screen and (min-width: 200px) and (max-width: 479px) { 
       
    /* Header Area */
    #header_area .col-sm-3 img {
        width: 40%;
    }
       
    #header_area .col-sm-6 ul {
        display: none;
    }   
       
    /* Home Page */
    #hero_area .col-sm-5 h2 {
        margin-top: 0px;
        font-size: 35px;
    }
    #hero_area .col-sm-5 p {
        line-height: 34px;
        font-size: 25px;
    }  
    .btn-primary {
        font-size: 25px;
    }   
    #hero_area .col-sm-7 img {
        width: 100%;
        margin-top: 50px;
    }
    #section_area .col-sm-4 .box {
        display: inline;
        text-align: center;
    }
    .box .sub_box img {
        width: 180px;
    }
    .box .sub_box h2 {
        font-size: 40px;
    }
    .box .sub_box p {
        font-size: 25px;
    }
    #section_area2 .col-sm-5 h2 {
        font-size: 32px;
    }
    #section_area2 .col-sm-5 p {
        font-size: 20px;
    }
    #section_area2 .col-sm-5 .main_sub_box {
        display: inline;
    }
    .sub_box_area img {
        width: 91px;
    }
    .sub_box_area h4 {
        font-size: 26px;
    }
    .box_area {
        margin: 20px;
        box-shadow: 1px 1px 10px #ddd;
        border-radius: 16px;
    }
    #section_area2 .col-sm-7 img {
        width: 100%;
        display: none;
    }
    #section_area3 .col-sm-6 img {
        width: 100%;
        margin-left: 0;
    }
    #section_area3 .col-sm-6 h3 {
        font-size: 32px;;
        margin-top: 30px;
    }
    #section_area3 .col-sm-6 p {
        font-size: 20px;
    }
    #section_area5 {
        margin-top: 0px;
    }#section_area5 .col-sm-4 h2 {
        margin-top: 30px;
        font-size: 30px;
    }
    #section_area5 .col-sm-4 p {
        font-size: 20px;
    }
    #section_area5 .col-sm-6 img {
        width: 100%;
        margin-top: 30px;
    }
    #section_area6 {
        margin-top: 25px;
    }
    #section_area6 .title h2 {
        font-size: 27px;
        text-align: center;
    }
    .area_all_content h3 {
        font-size: 32px;
        text-align: center;
    }
    .area_all_content input[type="email"] {
        width: 310px;
    }
    #footer_area {
        margin: 20px 0;
    }
    #footer_area img {
        max-width: 55%;
    }
    #footer_area .coppyright_area .col-sm-6 a {
        font-size: 20px;
        margin-left: 104px;
    }
    #footer_area .coppyright_area .col-sm-6 p {
        text-align: center;
        font-size: 20px;
    }
    #footer_area .col-sm-3 h2 {
        font-size: 42px;
    }
    #footer_area ul li {
        font-size: 25px;
    } 
    #footer_area .col-sm-3 p {
        font-size: 23px;
    }
     
    /* About Page */
    #about_area {
        margin-top: 10px;
    }
    #about_area .col-sm-6 h2 {
        font-size: 33px;
    }
    #about_area .col-sm-6 p {
        font-size: 20px;
    }
    #about_area .col-sm-6 a {
        font-size: 20px;
    }
    #about_area .col-sm-6 img {
        width: 100%;
        margin-top: 30px;
    }
    #section_area2 {
        margin-top: 10px;
    }
    #section_area2 .col-sm-7 .area_box {
         box-shadow: none; 
    }
    #section_area2 .col-sm-7 .area_box  h2 {
        font-size: 50px;
    }
    #section_area2 .col-sm-7 .area_box  p {
        font-size: 20px;
    }
    #section_area3 .col-sm-5 img {
        display: none;
    }
    #section_area3 .col-sm-7 h2 {
        font-size: 30px;
    }
    #section_area3 .col-sm-7 p {
        font-size: 20px;
    }
    .icon_box img {
        width: 103px;
    }
    .google_box h4 {
        font-size: 25px;
    }
    #section_area4 {
        margin-top: 0;
    }
    #section_area4 .col-sm-6 h2 {
        font-size: 33px;
    }
    #section_area4 .col-sm-6 p {
        font-size: 20px;
    }
    #section_area4 .col-sm-6 a {
        font-size: 21px;
    }
    #section_area4 .col-sm-6 img {
        width: 100%;
        margin-top: 15px;
    }
    #section_area5 .title_area h2 {
        font-size: 35px;
        margin-top: 20px;
    }
    #section_area5 .title_area p {
        font-size: 19px;
    }
    .main_boxarea {
        display: inline;
    }
    .main_boxarea .sub_boxarea {
        width: 95%;
        height: auto;
    }
    .sub_boxarea h3 {
        font-size: 40px;
    }
    .sub_boxarea p {
        font-size: 20px;
    }
    .sub_boxarea ul li {
        font-size: 25px;
    }
    .sub_boxarea .btn1 {
        font-size: 22px;
    }
    .sub_boxarea h2 {
        font-size: 50px;
    }
    .sub_boxarea a {
        font-weight: 600;
        font-size: 22px;
    }

    /* Service Page */
    #service_area .col-sm-5 h2 {
        font-size: 34px;
    }
    #service_area .col-sm-5 p {
        font-size: 20px;
    }
    #service_area .col-sm-3  img {
        width: 100%;
        margin-top: 20px;
    }
    #service_area1 .service_title h2 {
        font-size: 30px;
        text-align: center;
    }
    .main_service {
        display: inline;
    }
    .main_service .sub_service {
        width: 96%;
        height: auto;;
    }
    .sub_service h4 {
        font-size: 25px;
    }
    .sub_service p {
        font-size: 20px;
        line-height: 30px;
    }
    .sub_service  a {
        font-size: 25px;
    }
    #service_area4 .serv_title h3 {
        font-size: 35px;
        text-align: center;
    }
    .serv_main_bx {
        display: inline;
    }
    .serv_main_bx .sub_serv_bx {
        width: 95%;
        height: auto;
    }
    .sub_serv_bx img {
        width: 35%;
    }
    .sub_serv_bx h4 {
        font-size: 30px;;
    }
    .sub_serv_bx p {
        font-size: 25px;
    }

    /* Contact Page */
    .hero_text h2 {
        font-size: 35px;
    }
    .hero_text p {
        font-size: 30px;
    }
    .hero_text a {
        font-size: 20px;
    }
    .main_contact {
        display: inline;
    }
    .contact_form input {
        width: 96%;
        font-size: 22px;
    }
    .contact_form .message {
        width: 96%;
    }
    .contact_form span {
        font-size: 20px;
    }
    button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
        font-size: 20px;
    }
    .contact_form1 h5 {
        font-size: 40px;
    }
    .contact_form1 {
        width: 98%;
    }

  



       
       
       
       
       
   }       
   