
/* ==========================================================================
   Medium Layout: 1280px.
   ========================================================================== */
   @media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
    
    
    
    
    
    
    
    
   }
   /* ==========================================================================
      Tablet Layout: 768px. 
      ========================================================================== */
   @media only screen and (min-width: 768px) and (max-width: 991px) { 
    
       
       
       
       
       
       
       
       
       
    
       
       
   }
   /* ==========================================================================
      Wide Mobile Layout: 480px.
      ========================================================================== */
   @media only screen and (min-width: 480px) and (max-width: 767px) { 
   
       
       
       
       
       
       
       
       
   }
   
   
   
   /* ==========================================================================
      Mobile Layout: 320px.
      ========================================================================== */
   @media only screen and (min-width: 200px) and (max-width: 479px) { 
       
    /* Header Area */
    #header_area .col-sm-3 img {
        width: 40%;
    }
       
    #header_area .col-sm-6 ul {
        display: none;
    }   
       
    /* Home Page */
    #hero_area .col-sm-5 h2 {
        margin-top: 0px;
        font-size: 35px;
    }
    #hero_area .col-sm-5 p {
        line-height: 34px;
        font-size: 16px;
    }  
    .btn-primary {
        font-size: 25px;
    }   
    #hero_area .col-sm-7 img {
        width: 100%;
        margin-top: 50px;
    }
    #section_area .col-sm-4 .box {
        display: inline;
        text-align: center;
    }
    .box .sub_box img {
        width: 180px;
    }
    .box .sub_box h2 {
        font-size: 40px;
    }
    .box .sub_box p {
        font-size: 25px;
    }
    #section_area2 .col-sm-5 h2 {
        font-size: 32px;
    }  
       
       
       
       
       
       
   }       
   